* {
    padding: o;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 5% 0;
    background-color: rgb(42, 42, 91);
}

.nav h2 {
    font-size: 2rem;
    align-items: baseline;
    color: #daa520;
}

.search-box input[type="text"] {

    position: relative;
    width: 200%;
    height: 30%;
    margin-left: 5rem;
    font-size: 1rem;
    padding: .75rem;
    font-family: inherit;
    font-size: inherit;
    color: #daa520;
    background: none;
    border: 1px solid #daa520;
    border-radius: 10px;
    outline: none;

    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

.search-box input[type="submit"] {

    position: relative;
    width: 50%;
    height: 30%;
    margin-left: 1rem;
    font-size: 1rem;
    padding: .75rem;
    font-family: 1rem;
    font-size: inherit;
    color: none;
    background: #daa520;
    border: 1px solid #daa520;
    border-radius: 10px;
    outline: none;
}

form {
    display: flex;
    flex-direction: center;
}

main {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;

    height: 70vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr 30px;
    grid-gap: 5px;
}

article {

    padding: 1rem;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    margin: .15rem;
    text-shadow: 2px 3px 5px #000000;
    width: 18.75rem;
    height: 12.5rem;
    /* rem stands for root element metric - by default it's equal to 16 */
}

article p {
    color: white;
    font-size: .1rem;
}

.background-image {
    display: flex;

    width: 380px;
    height: 200px;
    margin-top: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    background-color: rgb(42, 42, 91);

}