* {
    padding: o;
    margin: 0;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(57, 31, 85);
}
.container {
    display: grid;
    height: 20vh;
  
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "search-box"
    "form"
    "main"
    "footer"
}

.nav {
    
    justify-content: center;
    background-color: rgb(57, 31, 85);
    grid-area: search-box;
    height: 35%;
    padding: 20% 20% 5% 20%;
}


form {
    display: flex;
    flex-direction: row;
    background-color: rgb(57, 31, 85);
 
    grid-area: search-box;
}


main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    
    background-color: coral;
    grid-area: main;
}
footer {
    background-color: rgb(53, 50, 45);
    grid-area: footer;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


article {
    padding: 1rem;
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 3px 5px #000000;
    width: 18.75rem;
    height: 12.5rem;

   }
   article {
    
    overflow: scroll;
}


   .search-box input[type="text"] {

    position: relative;
    width: 1000%;
    height: 2.4rem;
    margin-left: 5rem;
    font-size: 1rem;
    padding: .75rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #daa520;
    background: none;
    border: 1px solid white;
    border-radius: 7px 0 0 5px;
    outline: none;

    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

.search-box input[type="submit"] {

    position: relative;
    width: 20%;
    height: 4rem;
  
    font-size: 1rem;
    padding: .75rem;
    font-family: inherit;
    font-size: 2rem;
    color: none;
    background: coral;
    border: none;
    border-radius: 0 7px 7px 0;
    outline: none;
}
input[type="submit"]:hover {

    position: relative;
    width: 20%;
    height: 4rem;
  
    font-size: 1rem;
    padding: .75rem;
    font-family: inherit;
    font-size: 2rem;
    color: none;
    background: rgb(211, 95, 53);
    border: none;
    border-radius: 0 7px 7px 0;
    outline: none;
}

