* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(57, 31, 85);
}

.container {
    display: grid;
    justify-content: center;

}

/* -------INPUT--------- */

.nav {
    display: flex;
    background-color: rgb(57, 31, 85);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 1.5rem;
    position: fixed;
    padding: 30px 60px 30px 60px;
    right: 0px;
    left: 0px;
}

form {
    display: flex;
}


/* -------PHOTOS--------- */

main {
    background-color: coral;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 118px;

}

article {
    padding: .5rem;
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
    width: 20rem;
    height: 15rem;
    align-content: flex-end;
    display: grid;
}

article a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: rgb(53, 50, 45);
    color: white;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.search-box input[type="text"] {

    position: relative;
    width: 1000%;
    height: 2rem;
    margin-left: 5rem;
    font-size: 1rem;
    padding: .75rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #daa520;
    background: none;
    border: 1px solid white;
    border-radius: 7px 0 0 5px;
    outline: none;

}

.search-box input[type="submit"] {

    position: relative;
    width: 20%;
    height: 3.6rem;
    font-size: .5rem;
    font-family: inherit;
    font-size: 1.5rem;
    padding: .5rem;
    color: none;
    background: coral;
    border: none;
    border-radius: 0 7px 7px 0;
    outline: none;
}

input[type="submit"]:hover {
    position: relative;
    width: 20%;
    height: 3.6rem;
    font-size: .5rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: none;
    background: rgb(145, 48, 12);
    border: none;
    border-radius: 0 7px 7px 0;
    outline: none;
}


@media screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .nav h2 {
        padding: 30px 0;
    }

    form {
        display: flex;
        padding-right: 50px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .nav h2 {
        padding: 30px 0;
    }

    form {
        display: flex;
        padding-right: 50px;
    }
}


@media screen and (max-width: 428px) {
    .container {
        max-width: none;
    }

    .nav h2 {
        padding: 30px 0;
    }

    form {
        display: flex;
        padding-right: 50px;
    }

    .nav {
        display: flex;
        background-color: rgb(57, 31, 85);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        font-size: .8rem;
        position: fixed;
        padding: 30px 15px 30px 0;
    }


    .search-box input[type="text"] {

        position: relative;
        width: 300%;
        height: 1rem;
        margin-left: 2rem;
        font-size: .4rem;
        padding: .75rem;
        font-family: inherit;
        font-size: 1.5rem;
    }

    .search-box input[type="submit"] {
        position: relative;
        width: 20%;
        height: 2.6rem;
        font-size: .5rem;
        font-family: inherit;
        font-size: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input[type="submit"]:hover {
        position: relative;
        width: 20%;
        height: 2.6rem;
        font-size: .5rem;
        font-family: inherit;
        font-size: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    footer {
        padding-top: 100px;
    }
}